.navigation {
  display: flex;
  align-items: stretch;
  box-shadow: inset 0 -1px 0 0 var(--color-border-light);
}

.link {
  display: block;
  text-decoration: none;
  padding: 1rem;
  color: var(--color-text);
}

.active_link {
  box-shadow: inset 0 -2px 0 0 var(--color-text);
}